<turbo-frame id="<%= dom_id data_source %>" class="block">
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span><%= data_source.name %></span>
    <div class="ml-auto">
      <% if data_source.connected? %>
        <%= link_to 'disconnect', connect_data_source_path(data_source), method: :patch, class: 'btn btn-danger btn-sm' %>
      <% else %>
        <%= link_to 'connect', connect_data_source_path(data_source), method: :patch, class: 'btn btn-primary btn-sm' %>
      <% end %>
      <a href="<%= edit_data_source_path(data_source) %>" class="btn btn-primary btn-sm">edit</a>
      <%= link_to "delete", data_source_path(data_source), data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      Host: <%= data_source.host %><br>
      Database: <%= data_source.database %><br>
      Username: <%= data_source.username %><br>
      Port: <%= data_source.port %><br>
    </p>
  </div>
</div>
<br>
</turbo-frame>