<turbo-frame id="<%= dom_id data_source %>" class="block">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span><%= data_source.name %></span>
      <div class="ml-auto">
        <% title = data_source.connected? ? 'disconnect' : 'connect' %>
        <% btn = data_source.connected? ? 'btn-danger' : 'btn-primary' %>
        <span data-controller='connection'>
          <%= link_to title, '/', remote: true, id: "connection-#{data_source.id}" ,class: "btn #{btn} btn-sm", 
            data: {
              action: 'connection#connected',
              'connection-url-param': connect_data_source_url(data_source),
              'connection-id-param': "#connection-#{data_source.id}" 
            }  %></span>
        <a href="<%= edit_data_source_path(data_source) %>" class="btn btn-primary btn-sm">edit</a>
        <%= link_to "delete", data_source_path(data_source), data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        <% if data_source.adapter == 'sqlite' %>
          File: <%= data_source.database %><br>
        <% else %>
          Host: <%= data_source.host %><br>
          Database: <%= data_source.database %><br>
          Username: <%= data_source.username %><br>
          Port: <%= data_source.port %><br>
        <% end %>
      </p>
    </div>
  </div>
  <br>
</turbo-frame>