<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Settings</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= form_with(model: @user, url: user_settings_path, method: :patch, local: true, class: "needs-validation mb-0", novalidate: true) do |form| %>
            <div class="mb-4">
              <%= form.label :ai_url, "AI URL", class: "form-label" %>
              <%= form.text_field :ai_url, class: "form-control" %>
            </div>
            <div class="mb-4">
              <%= form.label :ai_model, "AI Model", class: "form-label" %>
              <%= form.text_field :ai_model, class: "form-control" %>
            </div>
            <div class="mb-4">
              <%= form.label :ai_api_key, "AI API Key", class: "form-label" %>
              <%= form.text_field :ai_api_key, class: "form-control" %>
            </div>
            <div class="float-end">
              <%= link_to "Cancel", "javascript:history.back()", class: 'btn btn-secondary me-1' %>
              <%= form.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-6">
      <div class="card mt-4 mt-md-0">
        <div class="card-body">
          <h3 class="card-title">AI Service Information</h3>
          <br>
          <h5>ChatGPT</h5>
          <p>You can obtain the URL, model, and API key for ChatGPT from the <a href="https://platform.openai.com">OpenAI website</a>.</p>
          <ul>
            <li><strong>URL:</strong> <a href="https://api.openai.com/v1" target="_blank">https://api.openai.com/v1</a></li>
            <li><strong>Model:</strong> <a href="https://beta.openai.com/docs/models" target="_blank">OpenAI Models</a></li>
            <li><strong>API Key:</strong> <a href="https://beta.openai.com/account/api-keys" target="_blank">Generate API Key</a></li>
          </ul>
          <br>
          <br>
          <h5>Mistral</h5>
          <p>For Mistral, please refer to the official Mistral API documentation and <a href="https://console.mistral.ai">developer portal</a>.</p>
          <ul>
            <li><strong>URL:</strong> <a href="https://api.mistral.ai/v1/completions" target="_blank">https://api.mistral.ai/v1</a></li>
            <li><strong>Model:</strong> <a href="https://mistral.ai/models" target="_blank">Mistral Models</a></li>
            <li><strong>API Key:</strong> <a href="https://mistral.ai/account/api-keys" target="_blank">Generate API Key</a></li>
          </ul>
          <br>
          <br>
          <h5>Ollama</h5>
          <p>Ollama’s integration details are available from their <a href="https://ollama.com">official site</a>.</p>
          <ul>
            <li><strong>URL:</strong>If running locally http://127.0.0.1:11434</li>
            <li><strong>Model:</strong> Will depend on which models you have installed</li>
            <li><strong>API Key:</strong> Can be anything.</li>
          </ul>
          <br>
          <br>
          <h5>OpenAI Compatible</h5>
          <p>ThinkDB will connect to any AI that implements OpenAI's API. This includes Azure OpenAI, Anthropic, Cohere, and many others. Please check their documentation for the correct URL, model, and API key.</p>
        </div>
      </div>
    </div>
  </div>