<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Log in</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
            <div class="mb-4">
              <%= form.label :email, class: "form-label" %>
              <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="mb-4">
              <%= form.label :password, class: "form-label" %>
              <%= form.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="mb-4">
              <%= form.check_box :remember_me, class: "form-check-input" %>
              <%= form.label :remember_me, class: "form-check-label" %>
            </div>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
            <div class="float-end">
              <%= form.submit "Log in", class: "btn btn-primary" %>
            </div>
            <% if ENV['GITHUB_CLIENT_ID'].present? && ENV['GITHUB_CLIENT_SECRET'].present? %>
              <%= link_to 'Login with GitHub', user_github_omniauth_authorize_path, class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-6">
    </div>
  </div>