<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class=" w-100  bg-dark">
      <div class="d-flex flex-column   min-vh-100">
        <div class="flex-column mb-sm-auto mb-0   w-100">
          <nav class="navbar navbar-expand-lg w-100 ">
            <div class="container-fluid p-0">
              <%= form_with(url: queries_path, method: :get, local: true, class: 'd-flex w-100 align-items-start', role: 'search', id: 'query-form') do %>
                <%= text_area_tag :sql, params[:sql], class: 'form-control me-2 flex-grow-1', placeholder: 'Enter your query here', aria: { label: 'Query' }, rows: 5 %>
                <%= submit_tag 'Query', class: 'btn btn-outline-primary fixed-height-button' %>
              <% end %>
            </div>
          </nav>
        </div>
        <nav class="navbar navbar-expand-lg w-100 mb-0">
          <div class="container-fluid p-0 ">
            <div class="me-2 flex-grow-1 d-flex ">
            </div>
            <% if defined?(@page) && defined?(@page_count) %>
              <%= form_with(url: queries_path, method: :get, local: true, class: '', role: 'search') do %>
                <%= hidden_field_tag :query, params[:sql] %>
                <%= hidden_field_tag :page, @page - 1 %>
                <%= submit_tag '<<', class: 'btn btn-outline-primary', disabled: @page == 1 %>
              <% end %>&nbsp;
              <div class='btn btn-outline-primary disabled'>page <%=@page%> of <%=@page_count%></div>
              &nbsp;
              <%= form_with(url: queries_path, method: :get, local: true, class: '', role: 'search') do %>
                <%= hidden_field_tag :query, params[:sql] %>
                <%= hidden_field_tag :page, @page + 1 %>
                <%= submit_tag '>>', class: 'btn btn-outline-primary', disabled: @page == @page_count %>
              <% end %>
            <% else %>
              <%= form_with(url: queries_path, method: :get, local: true, class: '', role: 'search') do %>
                <%= submit_tag '<<', class: 'btn btn-outline-primary', disabled: true %>
              <% end %>&nbsp;
              <%= form_with(url: queries_path, method: :get, local: true, class: '', role: 'search') do %>
                <%= submit_tag '>>', class: 'btn btn-outline-primary', disabled: true %>
              <% end %>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.getElementById('query-form');
    const textArea = form.querySelector('textarea');

    textArea.addEventListener('keydown', (event) => {
      if ((event.altKey || event.metaKey) && event.key === 'Enter') {
        event.preventDefault();
        form.submit();
      }
    });
  });
</script>