<p style="color: green"><%= notice %></p>

<%= render @query %>

<div>
  <%= link_to "Edit this query", edit_query_path(@query) %> |
  <%= link_to "Back to queries", queries_path %>

  <%= button_to "Destroy this query", @query, method: :delete %>
</div>
