<div class="p-1 ">
  <a href="/" class="text-white text-decoration-none">
    <center>
      <h1 class="mt-2">ThinkDB</h1>
    </center>
  </a>
</div>
<hr class="p-0 m-0">
<div class="accordion accordion-flush" id="accordianBar">
  <%= render partial: 'layouts/sidebar/accordion_item', locals: { title: 'Data Sources', text_muted: text_muted, icon_class: 'bi-server' } %>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a href="/query" class="nav-link  accordion-button no-icon">
        <i class="fs-4  bi-question-circle-fill <%= text_muted %>"></i><span class="ms-2  <%= text_muted %>">Query</span>
      </a>
    </h2>
  </div>
  <%= render partial: 'layouts/sidebar/accordion_item', locals: { title: 'Tables', text_muted: text_muted, icon_class: 'bi-table' } %>
  <%= render partial: 'layouts/sidebar/accordion_item', locals: { title: 'Queries', text_muted: text_muted, icon_class: 'bi-folder-symlink-fill' } %>
</div> 
<hr class="p-0 m-0">
<% if user_signed_in? %>
  <div class="dropdown p-2 floatz border">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="<%= current_user.image %>" width="30" height="30" class="rounded-circle">
      <span class="d-none d-sm-inline mx-1"><%= current_user.name %></span>
    </a>
    <ul class="dropdown-menu  text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="<%= user_settings_path %>">Settings</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" data-method="delete" href="/users/sign_out"">Sign out</a></li>
    </ul>
  </div>
<% else %>
  <div class="dropdown p-2 floatz border">
    <a href="<%= user_github_omniauth_authorize_path %>" class="d-flex align-items-center text-white text-decoration-none ">
      <i class="fs-4 bi-person text-muted"></i>
      <span class="d-none d-sm-inline mx-1">Sign In</span>
    </a>
  </div>
<% end %>
