<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline">DataDialog</span>
  </a>
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li>
      <a href="<%= queries_path() %>" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-question-circle-fill <%= text_muted %>"></i> <span class="ms-1 d-none d-sm-inline  <%= text_muted %>">Query</span>
      </a>
    </li>
    <li>
      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-table <%= text_muted %>"></i> <span class="ms-1 d-none d-sm-inline <%= text_muted %>">Tables</span>
      </a>
      <%= render "layouts/sidebar/tables" %>
    </li>
    <li>
      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-folder-symlink-fill <%= text_muted %>"></i> <span class="ms-1 d-none d-sm-inline <%= text_muted %>">Queries</span>
      </a>
      <%= render "layouts/sidebar/queries" %>
    </li>
    <li>
      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
        <i class="fs-4 bi-chat-right-text <%= text_muted %>"></i> <span class="ms-1 d-none d-sm-inline <%= text_muted %>">Chats</span>
      </a>
      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
        <li class="w-100">
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
        </li>
        <li>
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
        </li>
      </ul>
    </li>
  </ul>
  <hr>
  <% if user_signed_in? %>
    <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="<%= current_user.image %>" width="30" height="30" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1"><%= current_user.name %></span>
      </a>
      <ul class="dropdown-menu  text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="<%= data_sources_path %>">Data Sources</a></li>
        <li><a class="dropdown-item" href="<%= user_settings_path %>">Settings</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" data-method="delete" href="/users/sign_out"">Sign out</a></li>
      </ul>
    </div>
  <% else %>
    <div class="dropdown pb-4">
      <a href="<%= user_github_omniauth_authorize_path %>" class="d-flex align-items-center text-white text-decoration-none ">
        <i class="fs-4 bi-person text-muted"></i>
        <span class="d-none d-sm-inline mx-1">Sign In</span>
      </a>
    </div>
  <% end %>
</div>