<html data-bs-theme="dark" >
  <head>
    <title>CommandAI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
          <div id="sidebar">
            <%= render "layouts/sidebar/main" %>
          </div>
        </div>
        <div class="col m-0 p-0 scrollable-content bg-body-tertiary">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
