<html data-bs-theme="dark" >
  <head>
    <title>ThinkDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'codemirror/lib/codemirror', media: 'all' %>
    <%= stylesheet_link_tag 'codemirror/theme/dracula' %>
    <%= stylesheet_link_tag 'codemirror/addon/hint/show-hint' %>
    <%= javascript_include_tag 'codemirror/lib/codemirror' %>
    <%= javascript_include_tag 'codemirror/addon/comment/comment' %>
    <%= javascript_include_tag 'codemirror/mode/sql/sql' %>
    <%= javascript_include_tag 'codemirror/addon/hint/show-hint' %>
    <%= javascript_include_tag 'codemirror/addon/hint/sql-hint' %>
    <%= favicon_link_tag 'box.png' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= tag.input type: 'hidden', id: 'current-user-id', value: current_user.id %>
    <% end %>
    
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 m-0 p-0 scrollable-content">
          <div id="sidebar">
            <%= render "layouts/sidebar/main" %>
          </div>
        </div>
        <div class="col m-0 p-4 scrollable-content bg-body-tertiary">
          <% flash.each do |key, value| %>
            <% alert_class = case key.to_sym
              when :notice then 'alert alert-info'
              when :alert  then 'alert alert-danger'
              when :success then 'alert alert-success'
              when :warning then 'alert alert-warning'
              else 'alert alert-primary'
              end %>
            <div class="<%= alert_class %> alert-dismissible fade show" role="alert">
              <%= value %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

